* {
    font-family: "Noto Sans KR", sans-serif;
}

/* 상단바 */
.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 0.3px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;

}

body {
    padding-top: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 타이틀 */
.web-title {
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

#title-text {
    font-family: "Signika", sans-serif;
    cursor: pointer;
}

.title-text span {
    font-family: "Signika", sans-serif;
    color: #E50914;
}

/* 로그아웃 버튼 */
.logout-button {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: none;
    color: rgb(55, 55, 55);
    font-size: 13px;
    font-weight: 500;
    border: 0.5px solid #b2b2b2;
    padding: 3px;
    border-radius: 3px;
}

.logout-button:hover {
    cursor: pointer;
    color: #E50914;
    border-color: #E50914;
}

.welcome-message {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: right;
    font-weight: 500;
    margin: 10px;
    color: rgb(55, 55, 55);
    margin-right: 10px;
    position: relative;

}



/* 정보 수정 */
body {
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    margin: 0;
    padding: 0;
}

.update-user-info {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #eeeeee;
}

.nickname-container {
    display: flex;
    justify-content: space-between;
}

#check-nickname {
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    width: 20%;
    box-sizing: border-box;
    font-size: 13px;
}

#check-nickname:hover {
    cursor: pointer;
    background-color: #000000d0;
    transition: 0.3s;
}

.error-message {
    color: red;
    font-size: 0.9em;
    height: 1em;
    margin-top: 4px;
}

button[type="submit"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 1em;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #000000d0;
    transition: 0.3s;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: right;
}

.remove-account {
    /* padding: 5px; */
    margin-top: 20px;
    width: 16%;
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid #dbdbdb;
    font-size: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.remove-account:hover {
    cursor: pointer;
    background-color: #ededed;
    transition: 0.3s;
}
