h1 {
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin: 0px 40%;
}

hr {
    height: 1px;
    border: none;
    background-color: #b3b3b3;
}

.profile-card {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 30px auto 50px;
}

.user-profile-image {
    position: relative;
    display: inline-block;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
    border: 0.2px solid #cbcbcb;
}

.edit-profile-image {
    position: absolute;
    top: 100px;
    right: 41px;
    width: 40px;
    height: 40px;
    border: 0.2px solid #cbcbcb;
    border-radius: 50%;
    cursor: pointer;
}

.edit-profile-image:hover {
    filter: brightness(95%);
}

.profile-info {
    flex-grow: 1;
}

.username {
    font-size: 24px;
    font-weight: bold;
}

.user-email {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

.user-stats p {
    display: inline-block;
    margin-right: 4px;
    margin-top: 10px;
}

.post-count, .comment-count {
    margin-right: 10px;
    font-size: 16px;
    color: #555;
}

.count_review {
    font-weight: bold;
    font-size: 18px;
}

.count_comment {
    font-weight: bold;
    font-size: 18px;
}

.review-container {
    display: flex;
    justify-content: center;
}

.img-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 800px;
    padding-bottom: 10%;
    padding-top: 40px;
}

.img-wrap img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.review-title {
    display: flex;
    align-items: center;
}

.review-title p {
    margin-right: 10px;
}