<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>An Error Occurred</h1>
<p>{{errorMessage}}</p>
<a href="/movie">Go Back to Movies List</a>
</body>
</html>
