<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>
<body>
<h1>Logout Page</h1>
<form action="/api/members/logout-page" method="post" name="loginoutForm">

    <input type="submit" value="Logout">
</form>
</body>
</html>

