<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

Sign-Up
<form action="/api/members/sign-up" method="post" name="SignUpForm">
    <input type="text" name="nickname" placeholder="Nickname"/>
    <input type="email" name="loginId" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Join"/>
</form>

</body>
</html>