<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

Sign-Up
<form action="/api/members/sign-up" method="post" name="SignUpForm" modelAttribute="memberDTO">
    <input type="text" name="nickname" value="{{#memberDTO}}{{memberDTO.nickname}}{{/memberDTO}}" placeholder="Nickname"/>
    {{#valid_nickname}} <span style="color: red; font-weight: bold;">{{valid_nickname}}</span> {{/valid_nickname}}

    <input type="email" name="loginId" value="{{#memberDTO}}{{memberDTO.loginId}}{{/memberDTO}}" placeholder="Email"/>
    {{#valid_loginId}} <span style="color: red; font-weight: bold;">{{valid_loginId}}</span> {{/valid_loginId}}

    <input type="password" name="password" value="{{#memberDTO}}{{memberDTO.password}}{{/memberDTO}}" placeholder="Password"/>
    {{#valid_password}} <span style="color: red; font-weight: bold;">{{valid_password}}</span> {{/valid_password}}

    {{#duplicate}} <span style="color: red; font-weight: bold;">{{duplicate}}</span> {{/duplicate}}

    <input type="submit" value="Join"/>
</form>

</body>
</html>