* {
    font-family: "Noto Sans KR", sans-serif;
}

/* 상단바 */
.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 0.3px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.title-text {
    cursor: pointer;
}

.login-section button {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;

}

body {
    padding-top: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* 타이틀 */
.web-title {
    font-size: 35px;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

.title-text span {
    color: #E50914;
}

/* 로그인, 회원가입 버튼 */
.login-section {
    display: flex;
    gap: 10px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;

    height: 35px;
    width: 60px;
    color: rgb(55, 55, 55);
    font-size: 14px;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: none;

    height: 35px;
    width: 80px;
    color: rgb(55, 55, 55);
    font-size: 14px;
}

.login-button:hover {
    cursor: pointer;
    color: #E50914;
}

.signup-button:hover {
    cursor: pointer;
    color: #E50914;
    border-color: #E50914;
}



/* 검색창 */
.search-container {
    display: flex;
    justify-content: center;
    margin: 5em 30% 50px 30% ;
}

.search-option {
    color: rgb(55, 55, 55);
    padding: 10px;
    font-size: 16px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-radius: 5px 0 0 5px;
    outline: none;

    /* -webkit-appearance:none;
    /* appearance:none; */
    /* background: url(https://cdn.icon-icons.com/icons2/1339/PNG/512/downarrow_87468.png) no-repeat right 24px center; */
}

.search-option::-ms-expand {
    display: none;
}


.search-input {
    width: 300px;
    padding: 13px;
    font-size: 16px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;

    border-left: none;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-radius: 0 5px 5px 0;

    background: none;
    color: rgb(143, 143, 143);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-option:hover {
    cursor: pointer;
    font-weight: 500;
}

.search-input:focus {
    outline: none;
}

.search-button:hover {
    color: #E50914;
}

.search-button i {
    font-size: 17px;
}


/* 리뷰 정렬 */
.sort-reviews-container {
    position: absolute;
    top: 30%; /* 위에서 50px */
    right: 20%; /* 왼쪽에서 100px */
}
.sort-reviews select{
    padding: 20px;
}






/* 작성한 리뷰 */
* {
    margin: 0;
    padding: 0;
}

.review-container {
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
}

.img-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4개의 열 생성 */
    gap: 10px;
    /* 이미지 사이의 간격 */
    grid-row-gap: 50px;
    /* 그리드의 행 사이의 간격 */
    max-width: 800px;
    /* 그리드의 최대 너비 */
    margin-left: -30%;
    padding-left: 1px;
    padding-bottom: 10%;
    padding-top: 40px;
}

.img-wrap img {
    max-width: 100%;
    /* 이미지가 항목을 넘어서지 않도록 최대 너비를 설정 */
    height: auto;
    /* 비율을 유지하면서 높이를 자동으로 조정 */
    cursor: pointer;
}

.review-title {
    display: flex;
    /* 요소를 가로로 배치 */
    align-items: center;
    /* 수직 중앙 정렬 */
}

.review-title p {
    margin-right: 10px;
    /* 각 텍스트 요소 사이의 간격 조정 */
}




/* 랭킹 */
.movie-ranking {
    position: relative;
    border: 1px solid #b3b3b3;
    top: 30%;
    border-radius: 10px;
    float: left;
    width: 10%;
    margin: 5em 100px;
    padding: 20px;
    background-color: #ffffff;

}

.movie-ranking li {
    list-style-type: none;
}

.movie-ranking p {
    font-size: 17px;
    font-weight: bold;
}

.movie-ranking img {
    width: 80%;
    margin-bottom: 40px;
}